.vendaArea {
    width: 100%;
    height: 40vh;
    margin-top: -80px;
    display: flex;
    justify-content: space-around;
}

.boxFoto {
    background-image: url('./../../assets/images/placaMae.webp');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    width: 55%;
    height: 100%;

}
.descricaoArea
{
    width: 100%;
    display: flex;
}

.boxTextoVenda {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 10px;
    margin-right: 15px;
}

.comprarArea
{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(250, 234, 10);
}