.vendaArea
{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);

}

.vendaFoto
{
    background-image: url('./../../assets/images/placaMae.webp');
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    

   
      
   
}