*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.AreaHome{
   margin: 0 auto;
   width: 65vw;
   height: 100vh;
   background-image: url(./../../assets/images/MicrosoftTeams-image\ \(1\).png);
   background-size: cover;
  
  
}
.blacked{
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);

}
.preto{
    
   width: 100%;
   height: 25vh;
   
 
   /* background-image: url(../../assets/images/greentech.png); */
   
}   

.imeig{
   height:25vh ;
   width: 100%;
  
   
}
.linha {
   border-top: 2px solid white; /* cor e espessura da linha */
   width: 100%; /* largura da linha */
   margin: 0 auto; /* centraliza horizontalmente */
   margin-top: 25px;
}
#linha{
   text-align: center;
}
.anuncios-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* Três colunas de largura igual */
   gap: 20px; /* Espaçamento entre as caixas de anúncios */
   padding-top: 30px;
   padding-left: 15px;
   padding-right: 15px;
  
   
  
}

.anuncio {
   border: 1px solid white;
   padding: 30px;
   border-radius: 5px;
  
   
}

.anuncio h3 {
   margin-top: 0;
   color: white;
}

.anuncio p {
   margin-bottom: 0;
   color: white;
}

