*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.homeArea
{
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

.blacked
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.home
{
    background-color:#8B8B8B;
    background-image: url(./../../assets/images/4x/Ativo\ 1@4x.png);
    background-size: 100%;
    
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;    
}



.imgArea
{
    background-image: url(./../../assets/images/greentech.png);
    width: 100%;
    height: 40vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80%;
   
   
}

.welcome
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.boxTexto
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.texto
{
    width: 700px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin-bottom: -40px;
}

button
{
    width: 200px;
    height: 50px;
    font-size: x-large;
    align-items: center;
}

.botao
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.botaoArea
{
    display: flex;
    flex-direction: column;
}

.direitos
{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 140px;
    background-color: #0c007a;

    
}






